.container {
  min-height: 12vh;
  height: 8.6rem;
  display: flex;
  padding: 0 3.25rem;
  justify-content: space-between;
  // position: sticky;
  width: 100%;
  background-color: white;
  z-index: 6;
  border: 0.1rem solid #fff;
  box-shadow: 0.03rem 0.03rem 0.03rem #857e7b;
}

.front {
  max-height: 12vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 9;
  position: sticky;
  top: 12vh;
  transition: top 0.5s;
  position: absolute;
}

.back {
  z-index: 1;
}

.button {
  color: red;
}

.options {
  display: flex;
  font-weight: 200;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

// @media screen and (min-width: 800px) {
//   /* Show Hamburger Icon */
//   .hamburger {
//     display: none;
//   }
// }

.logo_container {
  max-width: 35rem;
  height: auto;
  display: flex;
  align-items: center;
}

/* .logo_image {
  width: 100%;
  height: auto;
} */

.option {
  align-self: center;
  padding: 0 1.46rem;
  font-size: 1.46rem;
  width: 100%;
}

.option:hover {
  color: #d81e5b;
}

@media screen and (max-width: 760px) {
  .container {
    padding: 0 1rem;
  }
}
