.theButton {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  background-color: #d81e5b;
  color: white;
  margin-bottom: 100px;
  /* animation: ${(props) =>
    props.animated ? "moveInButton 1s ease-out 3s" : ""}; */
  animation-fill-mode: backwards;
}

.theButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.theButton:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.theButton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  background-color: #d81e5b;
}

.theButton:hover::after {
  transform: scaleX(1.4) scaleY(1.7);
  opacity: 0;
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
