.theButton {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  background-color: #d81e5b;
  color: white;
  margin-bottom: 10rem;
  /* animation: ${(props) =>
    props.animated ? "moveInButton 1s ease-out 3s" : ""}; */
  animation-fill-mode: backwards;
  font-size: 1.6rem;
}

.theButton:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.theButton:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.theButton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  background-color: #d81e5b;
}

.theButton:hover::after {
  transform: scaleX(1.4) scaleY(1.7);
  opacity: 0;
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px) {
  .theButton {
    font-size: 1.9rem;
  }
}
