.container {
  background-color: #510860;
  width: 100%;
  height: 55vh;
  display: flex;
  color: #fff;
  text-align: left;
  justify-content: center;
  align-content: center;
}

.inner_box {
  width: 30rem;
  height: 50rem;
  padding-top: 8rem;
  padding-right: 8rem;
  transform: translateX(5rem);
}

.paragraph {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 2.44rem;
  padding-bottom: 1.62rem;
  font-weight: 500;
}

.heading {
  padding: 2.44rem 6.5rem 2.44rem 0;
  text-align: left;
  font-size: 1.46rem;
}
