.blog_part {
  background-color: #f7f7f7;
  text-align: center;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2.44rem;
  font-weight: 300;
  padding: 5rem 10rem;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 0.1rem solid grey;
}

.separator::before {
  margin-right: 1.62rem;
}

.separator::after {
  margin-left: 1.62rem;
}

.cards_container {
  padding: 7rem 0;
  /* max-height: 60rem; */
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4.5rem;
}

@media screen and (max-width: 800px) {
  .cards_container {
    max-width: 70%;
    grid-template-columns: 1fr;
  }

  .separator {
    font-size: 3rem;
  }
}
