.the_card {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 0;
}

.title {
  text-align: center;
  font-size: 2.11rem;
  font-weight: 300;
}

.image_container {
  justify-self: flex-start;
  margin-top: 3.5rem;
  margin-bottom: auto;
  box-shadow: 1rem 1rem 2rem #857e7b;
  border-radius: 0.2rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}
