.theCard {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  justify-self: flex-start;
  margin-top: auto;
  margin-bottom: 1.6rem;
  box-shadow: 1rem 1rem 2rem #797b84;
  font-size: 0;
  border-radius: 0.2rem;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 2.11rem;
  font-weight: 300;
}

.postDate {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 0.81rem;
  font-weight: 400;
}

.image {
  width: 100%;
  height: 100%;
}
