/* .container {
  position: relative;
  width: 99.2vw;
  background-color: red;
} */

.theSlide {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: fade 1.5s;
  animation: blowUp 10s ease-in-out;
  animation-fill-mode: forwards;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes blowUp {
  100% {
    transform: scale(1.1);
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
