.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.cards_container {
  padding: 70px;
  max-height: 600px;
  max-width: 1300px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 45px;
}

.buttons {
  display: flex;
  width: 50px;
  height: 100px;
  flex-direction: column;
  margin-right: 200px;
  position: fixed;
  top: 41vh;
  left: 5px;
  z-index: 1;
  transition: visibility 0s, opacity 0.8s;
}
