.container {
  height: 100%;
  width: 100%;
  margin: 9rem auto 0 auto;
  position: relative;
}

.cards_container {
  padding: 7rem 0;
  /* max-height: 60rem; */
  max-width: 130rem;
  margin: 6rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4.5rem;
}

.buttons {
  display: flex;
  width: 5rem;
  height: 10rem;
  flex-direction: column;
  margin-right: 20rem;
  position: fixed;
  top: 41vh;
  left: 0.5rem;
  z-index: 1;
  transition: visibility 0.8s, opacity 0.8s;
}

.iconStyle {
  color: red;
}

@media screen and (max-width: 800px) {
  .cards_container {
    max-width: 70%;
    grid-template-columns: 1fr;
  }

  .buttons {
  }
}
