.gallery_display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 320rem;
  padding: 5vh 15%;
  margin-top: 12vh;
}

.gallery_display::before,
.gallery_display::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

/* https://tobiasahlin.com/blog/common-flexbox-patterns/#masonry-or-mosaic */
/* https://tobiasahlin.com/blog/masonry-with-css/ */
