.container {
  /* position: relative; */
  /* margin: auto; */
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2rem;
  padding: 1.6rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0.7rem 0 0 0.7rem;
  user-select: none;
  right: 0;
}

.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding-right: 0.2rem;
  padding-left: 3.2rem;
  color: #777;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2rem;
  padding: 1.6rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 0.7rem 0.7rem 0;
  user-select: none;
}

.prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 0.2rem;
  padding-right: 3.2rem;
  color: #777;
}

.down {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  margin-top: -2.2rem;
  padding: 1.5rem 1.7rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0.7rem 0.7rem 0 0;
  user-select: none;
}

.down:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 0.2rem;
  padding-top: 3.2rem;
  color: #777;
}
