.gallery_item {
  width: 15rem;
  margin: 2rem 0 2rem 0;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  box-shadow: 1rem 1rem 2rem #857e7b;
  position: relative;

  // &:hover {
  //   cursor: pointer;

  //   .description {
  //     opacity: 1;
  //     transition: all 0.2s ease-in-out 0.2s;
  //     //cubic-bezier(0.42, 0, 0.58, 1);
  //     transform: translate(-50%, -50%) scale(1);
  //     backface-visibility: hidden;
  //   }

  //   .image {
  //     opacity: 0.2;
  //     transition: all 0.2s ease-in-out 0.2s;
  //   }
  // }
  .image_container {
    background-color: #510860;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    overflow: hidden;

    .image {
      transition: all 0.2s ease-in-out 0.2s;
    }
  }

  .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.2s ease-in-out 0.2s;
    opacity: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 600;
    backface-visibility: hidden;

    .text_main {
      font-size: 1.8rem;
      margin-bottom: 1.4rem;
    }

    .text_sub {
      font-size: 1.3rem;
    }
  }

  &:hover {
    cursor: pointer;

    .description {
      opacity: 1;
      transition: all 0.2s ease-in-out 0.2s;
      //cubic-bezier(0.42, 0, 0.58, 1);
      transform: translate(-50%, -50%) scale(1);
      backface-visibility: hidden;
    }

    .image {
      opacity: 0.2;
      transition: all 0.2s ease-in-out 0.2s;
    }
  }
}

// .description {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(0.5);
//   transition: all 0.2s ease-in-out 0.2s;
//   opacity: 0;
//   width: 100%;
//   text-align: center;
//   color: white;
//   font-weight: 600;
//   backface-visibility: hidden;
// }

// .text_main {
//   font-size: 1.7rem;
//   margin-bottom: 1.4rem;
// }

// .text_sub {
//   font-size: 1.2rem;
// }

// .image_container {
//   background-color: #510860;
//   width: 100%;
//   height: 100%;
//   border-radius: 0.3rem;
//   overflow: hidden;
// }

// .image {
//   transition: all 0.2s ease-in-out 0.2s;
// }
