.gallery_item {
  box-shadow: 1rem 1rem 2rem #857e7b;
  margin: 1%;
  width: 30%;
  font-size: 0;
}

.gallery_item:nth-child(3n + 1) {
  order: 1;
}
.gallery_item:nth-child(3n + 2) {
  order: 2;
}
.gallery_item:nth-child(3n) {
  order: 3;
}

.image-container {
  border: 0.2rem solid #fff;
  box-shadow: 1rem 1rem 2rem #857e7b;
}

.image {
  width: 100%;
  height: 100%;
}
