/* .gallery_item {
  box-shadow: 1rem 1rem 2rem #857e7b;
  margin: 1%;
  width: 32%;
  font-size: 0;
  min-width: 20rem;
}

.gallery_item:nth-child(3n + 1) {
  order: 1;
}
.gallery_item:nth-child(3n + 2) {
  order: 2;
}
.gallery_item:nth-child(3n) {
  order: 3;
}

.image-container {
  border: 0.2rem solid #fff;
  box-shadow: 1rem 1rem 2rem #857e7b;
}

*/

.gallery_item {
  width: 30rem;
  margin: 5px 0 5px 0;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
}

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
