.gallery_item {
  box-shadow: 1rem 1rem 2rem #857e7b;
  margin: 1%;
  width: 30%;
  font-size: 0;
  position: relative;

  &:nth-child(3n + 1) {
    order: 1;
  }

  &:nth-child(3n + 2) {
    order: 2;
  }

  &:nth-child(3n) {
    order: 3;
  }

  &:hover {
    cursor: pointer;

    .description {
      opacity: 1;
      transition: all 0.2s ease-in-out 0.2s;
      //cubic-bezier(0.42, 0, 0.58, 1);
      transform: translate(-50%, -50%) scale(1);
      backface-visibility: hidden;
    }

    .image {
      opacity: 0.2;
      transition: all 0.2s ease-in-out 0.2s;
    }
  }
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.2s ease-in-out 0.2s;
  opacity: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 600;
  backface-visibility: hidden;
}

.text_main {
  font-size: 1.7rem;
  margin-bottom: 1.4rem;
}

.text_sub {
  font-size: 1.2rem;
}

// .gallery_item:nth-child(3n + 1) {
//   order: 1;
// }
// .gallery_item:nth-child(3n + 2) {
//   order: 2;
// }
// .gallery_item:nth-child(3n) {
//   order: 3;
// }

.image_container {
  box-shadow: 1rem 1rem 2rem #857e7b;
  background-color: #510860;
}

// .description {
//   position: absolute;
//   text-align: center;
//   color: red;
//   font-size: 2rem;
//   top: 50%;
//   left: 50%;
// }

.image {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out 0.2s;
}
