.hero {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background-image: url("/testim.jpg");
  background-size: 217.3rem 156.9rem;
  width: 217.3rem;
  height: 156.9rem;
}
