.image {
  width: 100vw;
  height: 100vh;
  position: relative;
  bottom: -800px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.image::after {
  background-image: url("../../public/testim.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  content: "";
  transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
}
