.hero {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background-image: url("/testim.jpg");
  background-size: 2173px 1569px;
  width: 2173px;
  height: 1569px;
}
