.frame {
  background-color: #2b1d00;
  width: 100%;
  height: 8.1rem;
  display: flex;
  justify-content: center;
  display: block;
}

.paragraph {
  font-size: 1.14rem;
  color: #fff;
  display: inline-block;
  padding-top: 3.5rem;
}

.buttons {
  padding-top: 2.5rem;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 120rem;
  margin: 0 auto;
  /* transform: translateX(5rem); */
}

.top_button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2rem; /* Place the button at the bottom of the page */
  right: 3rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1.5rem; /* Some padding */
  border-radius: 1rem; /* Rounded corners */
  font-size: 1.8rem; /* Increase font size */
}

.top_button:hover {
  background-color: #555;
}

@media screen and (max-width: 800px) {
  .frame {
    height: 15rem;
    margin: 0 auto;
  }
  .container {
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    transform: translateX(0);
  }

  .buttons {
    margin: 0 auto;
  }

  .paragraph {
    text-align: center;
    font-size: 1.3rem;
  }
}
