@keyframes slideDown {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-95rem);
  }
}

div.parallax {
  width: 100vw;
  height: 60vh;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: -1;
  overflow: hidden;
}

div.parallax::after {
  background-image: url("https://artbykuze.imgix.net/testim.jpg?auto=format");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  content: "";
  transform: translateZ(-1px) scale(2.7);
  -webkit-transform: translateZ(-1px) scale(2.7);

  @media screen and (max-width: 350px) {
    background-image: url("https://artbykuze.imgix.net/testim.jpg?auto=format&w=420");
  }

  @media screen and (max-width: 800px) {
    background-image: url("https://artbykuze.imgix.net/testim.jpg?auto=format&w=1000");
  }

  @media screen and (max-width: 1080px) {
    background-image: url("https://artbykuze.imgix.net/testim.jpg?auto=format&w=1300");
  }

  @media screen and (max-width: 1280px) {
    background-image: url("https://artbykuze.imgix.net/testim.jpg?auto=format&w=1550");
  }

  @media screen and (max-width: 1600px) {
    background-image: url("https://artbykuze.imgix.net/testim.jpg?auto=format&w=1920");
  }

  @media screen and (max-width: 1920px) {
    background-image: url("https://artbykuze.imgix.net/testim.jpg?auto=format&w=2320");
  }
}

@media screen and (max-width: 800px) {
  div.parallax {
    height: 40vh;
  }

  div.parallax::after {
    transform: translateZ(-1px) translateY(45rem) scale(2.7);
  }
}
