html,
body {
  font-family: "Montserrat", sans-serif;
  color: #2b1d00;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
