$hamburger-padding-x: 1.5rem;
$hamburger-padding-y: 1rem;
$hamburger-layer-width: 4rem;
$hamburger-layer-height: 0.28rem;
$hamburger-layer-spacing: 1.2rem;

@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "../node_modules/hamburgers/_sass/hamburgers/base";
@import "../node_modules/hamburgers/_sass/hamburgers/types/spring";

@import "./sass/abstracts/variables";
@import "./sass/abstracts/mixins";

@import "./sass/base/base";
@import "./sass/base/utilities";
@import "./sass/base/typography";
@import "./sass/base/animations";

@import "./sass/components/hamnav";

@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
}
