.topButton {
  display: inline-block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 15px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #d81e5b; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1rem; /* Increase font size */
  font-weight: bold;
  opacity: 0.6;
  transition: all 0.6s ease;
}

.topButton:hover {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 2px;
  padding-bottom: 32px;
  color: rgba(216, 30, 91, 1);
}
